.card-label-yellow {
  background-color: #f2d600 !important;
}

.card-label-orange {
  background-color: #ff9f1a !important;
}

.card-label-black {
  background-color: #344563 !important;
}

.card-label-red {
  background-color: #eb5a46 !important;
}

.card-label-green {
  background-color: #61bd4f !important;
}

.card-label-purple {
  background-color: #c377e0 !important;
}

.card-label-blue {
  background-color: #0079bf !important;
}

.card-label-sky {
  background-color: #00c2e0 !important;
}

.card-label-lime {
  background-color: #51e898 !important;
}

.card-label-pink {
  background-color: #ff78cb !important;
}

.card-label-default{
  background-color: #b3bac5;
}